<html>
    <head>
       <link rel="stylesheet" href="/css/stylesheet.css">
      <link href="https://fonts.googleapis.com/css?family=Pacifico|Poiret+One|Sacramento" rel="stylesheet">
       <title>Gross Things I Ate When I Was Alone</title>
    </head>

      <body>

        <div id="navbar">
            <h4>Gross Things I Ate When I Was Alone</h4>
          </div>

          <div class="column side">
            <img src="<%= url("/img/bubble.png")%>" style="width:80%;">
            <img src="<%= url("/img/brunette.jpg")%>">
            <% if !logged_in? %>
              <a href="/signup">Sign Up</a> <a href="/login">Log In</a>
            <% else %>
              <a href="/posts/new">Add New Post</a><a href="/logout">Log Out</a>
            <% end %>
          </div>

                <%= styled_flash %>
               <%= yield %>

           </body>
         </html>
