<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
      <!--below im telling my site to be responsive-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
       <!--below im linking to my responsive CSS-->
       <link rel="stylesheet" href="css/responsive.css">
       <!--below im linking to my CSS-->
       <link rel="stylesheet" href="/css/stylesheet.css">
      <link href="https://fonts.googleapis.com/css?family=Pacifico|Poiret+One|Sacramento" rel="stylesheet">
       <title>Gross Things I Ate When I Was Alone</title>
    </head>

      <body>

        <div id="navbar">
            <h4>Gross Things I Ate When I Was Alone</h4>
          </div>
          <div class="column side">
            <img src="<%= url("/img/bubble.png")%>" style="width:80%;">
            <img src="<%= url("/img/brunette.jpg")%>">
            <% if !logged_in? %>
              <a href="/signup">Sign Up</a> <a href="/login">Log In</a>
            <% else %>
              <a href="/posts/new">Add New Post</a><a href="/logout">Log Out</a>
            <% end %>
          </div>
                <%= styled_flash %>
               <%= yield %>

           </body>
         </html>
